<html>
    <head>
            <script src="<%=context%>/libraries/jquery/jquery-3.2.1.js" type="application/javascript"> </script>

            <script> 
                var context = "<%=context%>"; 
            </script>
            <script src="<%=context%>/scripts/samp.js" type="application/javascript"> </script>
    </head>
    <body>
        <form action="getAll" method="POST">
            <button id = "getAllButton">pls click me</button>
        </form>
        <p>
            <%=subs%>
        </p>
    </body>

</html>